{% extends 'music/base.html' %}
{% block title %}Add a New Album{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container fluid">

    <div class="row">
        <div class="col-sm-12 col-md-/">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form class="form-horizontal" action="post" enctype="multi part/form-data/form-data">
                        {% csrf_token %}
                        {% include 'music/form-template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit"class="btn btn-success">Submit</button>
                            </div>

                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

