{% extends 'music/base.html' %}
{% block title %}Album Details{% endblock %}

{% block body %}

        <img src="{{ album.album_logo}}" style="width:250px;">

        <h1>{{ album.album_title }}</h1>
        <h2>{{ album.artist }}</h2>

        {% for song in album.song_set.all %}
            {{ song.song_title }}
            {% if song.isfavorite %}
                <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic1.squarespace.com%2Fstatic%2F553a8716e4b0bada3c80ca6b%2F553a9655e4b03939abece18a%2F5731fc75f85082142b12b095%2F1471894315703%2Fmayfourblocknature.jpg&imgrefurl=http%3A%2F%2Fwww.sciencesource.com%2F&docid=Tw-7xVolhcYqKM&tbnid=f8x-MKrxVWP_bM%3A&vet=1&w=500&h=286&bih=683&biw=1292&ved=0ahUKEwj24MLL977QAhVKIsAKHYAfC08QMwhBKBAwEA&iact=mrc&uact=8"/>
            {% endif %}
            <br>
        {% endfor %}

{% endblock %}
